In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv("HR_Data_MNC.csv")
df

#  Linear regration

,Unnamed: 0,Employee_ID,Full_Name,Department,Job_Title,Hire_Date,Location,Performance_Rating,Experience_Years,Status,Work_Mode,Salary_INR
0,0,EMP0000001,Joshua Nguyen,IT,Software Engineer,2011-08-10,"Isaacland, Denmark",5,14,Resigned,On-site,1585363
1,1,EMP0000002,Julie Williams,Marketing,SEO Specialist,2018-03-02,"Anthonyside, Costa Rica",2,7,Active,On-site,847686
2,2,EMP0000003,Alyssa Martinez,HR,HR Manager,2023-03-20,"Port Christinaport, Saudi Arabia",1,2,Active,On-site,1430084
3,3,EMP0000004,Nicholas Valdez,IT,Software Engineer,2023-10-12,"Port Shelbychester, Antigua and Barbuda",1,1,Active,On-site,990689
4,4,EMP0000005,Joel Hendricks,Operations,Logistics Coordinator,2024-12-09,"Lake Kimberly, Palestinian Territory",5,0,Active,On-site,535082
...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,1999995,EMP1999996,Cody Russell,Operations,Logistics Coordinator,2010-08-31,"Casefurt, Serbia",3,14,Active,Remote,657648
1999996,1999996,EMP1999997,Tracey Smith,IT,Software Engineer,2021-05-07,"Dannyport, Kuwait",3,4,Active,On-site,1030109
1999997,1999997,EMP1999998,Tracy Lee,Sales,Business Development Manager,2024-05-29,"Craighaven, Nigeria",5,1,Active,Remote,1313085
1999998,1999998,EMP1999999,Michael Roberson,IT,Software Engineer,2023-02-14,"Jonathanmouth, Djibouti",4,2,Retired,On-site,1479727
1999999,1999999,EMP2000000,Angela Lambert,HR,Talent Acquisition Specialist,2020-11-11,"Morganchester, Canada",1,4,Active,Remote,993718

In [4]:
df.columns.value_counts()

Unnamed: 0            1
Employee_ID           1
Full_Name             1
Department            1
Job_Title             1
Hire_Date             1
Location              1
Performance_Rating    1
Experience_Years      1
Status                1
Work_Mode             1
Salary_INR            1
Name: count, dtype: int64

In [7]:
df.sample(5)

,Unnamed: 0,Employee_ID,Full_Name,Department,Job_Title,Hire_Date,Location,Performance_Rating,Experience_Years,Status,Work_Mode,Salary_INR
1481000,1481000,EMP1481001,Mr. Christopher Jordan,Marketing,Marketing Executive,2012-01-01,"Brownhaven, Sao Tome and Principe",1,13,Active,Remote,695721
1946796,1946796,EMP1946797,Isabella Watson,IT,Software Engineer,2018-11-09,"South Robertbury, Palau",2,6,Active,On-site,1197913
1761545,1761545,EMP1761546,Jessica Chen,IT,Software Engineer,2025-06-02,"Kennethport, Palau",2,0,Resigned,On-site,1533078
262469,262469,EMP0262470,Timothy Roberts,HR,HR Executive,2020-05-24,"Pricefort, Kyrgyz Republic",4,5,Active,On-site,725752
1458612,1458612,EMP1458613,Michael Perry,Sales,Account Manager,2023-02-25,"Jamesberg, Turks and Caicos Islands",1,2,Terminated,Remote,421994